<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--Speech to text functionality has been implemented-->
    <style>
        input[type=submit] {
            width: 100%;
            background-color: #4CAF50;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
    </style>
    <script>
        function preback(){(window.history.forward());}
        setTimeout("preback()",0)
        window.onunload=function () {
            null
        };
        var app = angular.module('HomeApp', []);
        app.run(function ($http) {
            // Sends this header with any AJAX request
            $http.defaults.headers.common['Access-Control-Allow-Origin'] = '*';
            // Send this header only in post requests. Specifies you are sending a JSON object
            $http.defaults.headers.post['dataType'] = 'json'
        });
        app.controller('homeController',function ($scope,$http) {
            $scope.logout=function(){
                window.location.href="LoginPage.html"
            }
            var query='http://127.0.0.1:3000/questions/search'
            $http.get(query).then(function(data) {
                $scope.response = data.data.data;
                console.log(data);
            });
            $scope.Evaluate=function(qId){
                $scope.answerDesc = document.getElementById("answers-"+qId).value;
                console.log($scope.answerDesc);
                console.log(qId);
                var dataParams = {
                    'userId':'Anvesh',
                   'questionId' : qId,
                    'answer' : $scope.answerDesc,
                };
                console.log(dataParams);
                var config = {
                    headers : {
                        'Content-Type': 'application/x-www-form-urlencoded;charset=utf-8;'
                    }
                }
                var req = $http.post('http://127.0.0.1:3000/answers/create',dataParams)
                    .then(function(data, status, headers, config) {
                    $scope.message = data;
                    console.log(data);
                    alert("Details are saved Successfully saved in MongoDB");
                });

            }
        })

    </script>
</head>
<body  ng-app="HomeApp" ng-controller="homeController"  >
<div style="background-color: midnightblue" class="container-fluid" style="height: 75px">
    <div class="col-xs-7">
        <img src="../Images/Logo.gif" class="img-fluid rounded float-left img-responsive" style="height: 130px !important;">
    </div>
    <div class="col-xs-1 align-left" style="float: right">
        <button class="form-control align-bottom" style="color: white;background-color: midnightblue;margin-top: 30px" ng-click="logout()">Logout</button>
    </div>
</div>
<div class="container">

    <h2 align="center">Enter Your Answers for below Questions</h2>
    <div ng-repeat="data in response">
        <form class="container" style="align-self: center;height:100%;width: 100%; background-color: white">
            <p style="font-size: 200%">Question{{data.questions.question_id}} : {{data.questions.question_desc}}</p>
        <input type="text" id="answers-{{data.questions.question_id}}" style="width:100%;height: 50px"
               name="answer" placeholder="Enter your Answer" required>
        <input type="submit" value="Evaluate" ng-click="Evaluate(data.questions.question_id)">
        </form>
    </div>
</div>
</body>
</html>
