<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--Speech to text functionality has been implemented-->
    <script>
        var app = angular.module('HomeApp', []);
        app.run(function ($http) {
            // Sends this header with any AJAX request
            $http.defaults.headers.common['Access-Control-Allow-Origin'] = '*';
            // Send this header only in post requests. Specifies you are sending a JSON object
            $http.defaults.headers.post['dataType'] = 'json'
        });
        app.controller('homeController',function ($scope,$http) {
            $scope.logout=function(){
                window.location.href="LoginPage.html"
            }
            var query='http://127.0.0.1:3000/questions/search'
            $http.get(query).then(function(data) {
                $scope.response = data.data.data;
                console.log(data);
            });
        })

    </script>
</head>
<body  ng-app="HomeApp" ng-controller="homeController"  >
<div style="background-color: midnightblue" class="container-fluid" style="height: 75px">
    <div class="col-xs-7">
        <img src="../Images/Logo.gif" class="img-fluid rounded float-left img-responsive" style="height: 130px !important;">
    </div>
</div>
<div class="container">
    <!--<div class="col-xs-1 align-bottom">
        <button class="form-control align-bottom" style="color: white;background-color: midnightblue;margin-top: 30px" ng-click="logout()">Logout</button>
    </div>-->
    <div ng-repeat="data in response">
        Question : {{data.questions.question_desc}}
        <input type="text" style="width:100%" id="answer" name="answer" placeholder="Enter your Answer" required>
        <input type="submit" value="submit">
    </div>
</div>
</body>
</html>
